---
layout: layout
permalink: /code/
nav_order: 1
title: "mtso.io | code"

redirect_from:
  - /
---

<div class="content">
  <ul>
    {% assign projects = site.code | sort: 'order' %}
    {% for project in projects %}
      {% if project.published %}
      <li class="project-item index-item">
        <h2>
          <span>{{ project.title }}</span>
          
          {% for linkhash in project.links %}
            {% for link in linkhash %}
              <code><a href="{{ link[1] }}">{{ link[0] }}</a></code>
            {% endfor %}
          {% endfor %}
        </h2>

        <p>{{ project.content }}</p>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
