---
layout: layout
title: "mtso.io | notes"
nav_order: 3
---

<div class="content">
  <details>
    <summary>info</summary>
    <p class="details">An annotated list of the top links that I think are worth remembering.</p>
  </details>

  <ul class="related">
    {% assign notes = site.notes | sort: 'date' | reverse %}
    {% for note in notes %}
      <li class="index-item">
        <a href="{{ note.original_url | absolute_url }}">
          {{ note.date | date: "%B %e, %Y" }}: {{ note.title }}
        </a>
        {% if note.content %}
        <div class="details">{{ note.content }}</div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
