---
layout: layout
title: mtso.io | posts
permalink: /posts/
nav_order: 2
---

<div class="content">
  <div class="related">
    <ul>
      {% for post in site.posts %}
      <li class="index-item">
  <span>{{ post.date | date: "%b %Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
