html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
  }

body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}

code {
  font-family: Monaco, 'Lucida Console', Consolas, monospace;
  vertical-align: baseline;
}

pre code {
  display: inline-block;
  width: 100%;
  padding: 0.5em;
  background-color: #EFEAE6;
  overflow-x: scroll;
  border: 1px solid #888;
}

a:visited {
  display: inline-block;
  color: #049;
}

.post h1 {
  font-size: 2em;
  margin-bottom: 0.8em;
}

.post p {
  margin-bottom: 0.8em;
}

.post p, .post a, .post li, .post dt,
.post dl, .post dd, content p {
  line-height: 1.5em;
}

.post h4 {
  font-weight: bold;
  margin-bottom: 0.8em;
}

p {
  font-size: 1em;
}

.active a {
  border-bottom: 2.5px solid blue;
}

.nav-link {
  margin: 1em 0 1em 1em;
}

.nav-link a, .animated-link a {
  color: black;
  text-decoration: none;
}

.animated-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2.5px;
  background: blue;
  transition: width .3s;

  touch-action: none;
}

.animated-link:hover::after {
  width: 100%;
  touch-action: none;
}

nav {
  width: 100%;
}

nav, content {
  display: inline-block;

  box-sizing: border-box;
}

content {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
}

.nav-group {
  display: inline;
}

.navbar {
  overflow-x: auto;
  white-space: nowrap;
}

.nav-link {
  display: inline-block;
}

.index-item {
  list-style: none;
  margin-bottom: 1em;
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}

code {
  background-color: #d2dff0;
  padding: 0.15em 0.1em;
  border-radius: 2px;
  font-size: 0.8em;
}

.previous-link {
  margin: 2em 0 0;
  display: inline-block;
  box-sizing: border-box;
}

.project-item {
  margin-bottom: 1.6em;
}

.project-item h2 {
  font-size: 1em;
  margin-bottom: 0.4em;
}

.project-item > h2 > span {
  margin-right: 0.2em;
}

.project-item > h2 > a {
  font-weight: normal;
  background-color: aliceblue;
  background-color: #0000ff;*/
}

.details {
  margin-top: 0.4em;
  font-size: 0.8em;
}

details {
  margin-bottom: 1em;
}

.notice {
    background-color: #fb6;
    margin: 1em 0;
    padding: 1em;
}

/* ANIMATION */

.loader::after {
  content: '';
  background: blue;
  height: 2.5px;
  display: block;
  position: absolute;
  -webkit-animation: zoom 1s ease-in-out infinite;
  animation: zoom 1s ease-in-out infinite;
}

/* Safari */
@-webkit-keyframes zoom {
  0% { width: 0; }
  50% { width: 40px; -webkit-transform: translate(0); }
  100% { width: 0; -webkit-transform: translate(40px); }
}

@keyframes zoom {
  0% { width: 0; }
  50% { width: 40px; transform: translate(0); }
  100% { width: 0; transform: translate(40px); }
}

/* EXPERIMENTAL */

/*#scroll-right {
  position: fixed;
  display: inline-block;
  top: 0px;
  right: 0px;
  height: 3.5em;
  width: 2em;
  background-color: rgba(0, 0, 0, 0.5);
}*/

#scroll-right {
  display: none;
  background-color: pink;
}

/* Narrow-width screens (phone, some tablets) */
@media screen and (max-width: 720px) {
}

/* Typical screen width (tablets and up) */
@media screen and (min-width: 720px) {
  body {
    margin: 2em;
  }

  content {
    display: block;
    margin-left: 220px;
    margin-right: 1em;
    max-width: 768px;
    width: 768px;
    /*padding-left: 0;*/
    /*background-color: pink;*/
  }

  .typemark {
    margin-right: 160px;
  }

  .half-width {
    width: 50%;
  }
}

/* Wide screen width (laptop, HD, and up) */
@media screen and (min-width: 1272px) {

  content, .nav-group {
    margin: 0 auto;
    display: block;
    max-width: 768px;
    width: 768px;
  }

  .typemark {
    position: absolute;
  }

  .nav-group {
    position: relative;
    box-sizing: border-box;
  }
}
