<!DOCTYPE html>
<html>
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Matthew Tso" />
  <title>{{ page.title }}</title>
</head>
<body>
    <!-- {{ page.some_text }} -->

    <!-- {{ page | to_json }} -->
    <pre>
      {{ page.history }}
    </pre>
</body>
</html>
