<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112091539-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics_id }}');
  </script>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Matthew Tso" />
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
  <script src="/assets/js/routing.js"></script>
  <script src="/assets/js/loader.js"></script>
</head>
<body>
  <nav class="navbar">
    <div class="typemark nav-link animated-link">
      <a href="/code/">mtso</a>
    </div>

    <div class="nav-group">
    {% assign nav_items = site.pages | sort: 'nav_order' %}
    {% for node in nav_items %}
      {% if node.name != 'index.html' and node.name != 'feed.xml' %}
        {% if page.url == node.url %}
        <div class="nav-link animated-link active">
        {% else %}
        <div class="nav-link animated-link">
        {% endif %}
          <a href="{{ node.url }}">
            {% assign name = node.name | replace: '.html', '' %}
            {% assign name = name | replace: '.md', '' %}
            {{ name }}
          </a>
        </div>
      {% endif %}
    {% endfor %}
    </div>

    <div class="scroll-arrow" id="scroll-right">
    </div>
  </nav>

  <content>
    {{ content }}
  </content>
</body>
</html>
