---
layout: layout
---

<div class="content">
  <div class="post">
    <h1>{{ page.title }}</h1>
    <h4 class="article-date">{{ page.date | date: "%B %e, %Y" }}</h4>
    {{ content }}
  </div>
</div>

<div class="animated-link previous-link">
  {% if page.previous %}
  <a href="{{ page.previous.url }}">Previous: {{ page.previous.title }}</a>
  {% endif %}
</div>

